<div class="customer">
  <div class="media">
    <div class="media-left">
      <%= image_tag(customer.image_or_default, alt: customer.full_name, size: "100x100") %>
    </div>
    <div class="media-body">
      <p><strong>Name:</strong> <%= customer.full_name %></p>
      <p><strong>Phone:</strong> <%= customer.phone_number %></p>
      <p><strong>Email:</strong> <%= customer.email.presence || "N/A" %></p>

      <%= link_to "View", customer_path(customer) %>
      <%= link_to "Edit", edit_customer_path(customer) %>
      <%= link_to "Delete", customer_path(customer), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
